/* Cascading Style Sheet for indySoap Help, derived from CSS for MS HTML Help Workshop */

body{
  font-size: 75%;
  line-height: 125%;
  font-family: Verdana, Arial, Helvetica;
}

a:link{ 
  color: #696969; 
}

a:active{	
  color: #FF33CC; 
}

a:visited{  
  color: #CB5C51; 
}

a:hover{
  color: #800000;		 
}

a:sidebar{
  color: #339900;
}

.hypelink {
  color:darkblue;
  decoration: bold;
}

h1{
  font-size: 145%;
  font-wight:bold;
  margin-bottom: .5em;
  line-height: 125%;
}

h2{
  font-size: 125%;
  font-weight:bold;
  margin-top: 1.5em;
  margin-bottom: .5em;
}

h3{
  font-size: 115%;
  margin-top: 1.2em;
  margin-bottom: .5em;
}

h4{
  font-size: 105%;
  color: darkmagenta;
  margin-top: 1.2em;
  margin-bottom: .5em;
}

h6{
  font-size: 90%;
  color: #4b0082;
  margin-top: 1.2em;
  margin-bottom: .5em;
}

p{
  margin-top:6pt;
  margin-bottom: 6pt;
}

p.margin {
  margin-left: 57pt;
  margin-top: -47pt;
}

p.margin2 {
  margin-left: 57pt;
}

li p{
  margin-top: .6em;
  margin-bottom: 0em;
}

big{
  font-weight: bold;
  font-size: 105%;
}

ol{
  margin-top: .5em;
  margin-bottom: 0em;
}

ul{
  margin-top: .6em;
  margin-bottom: 0em;
  margin-left: 2.75em;
}

ol ul{
  list-style: disc;
  margin-top: 2em;
}

li{
  padding-bottom: .3em;
  margin-left: -1.25em;
}

dl ul{
  margin-top: 2em;
  margin-bottom: 0em;
}	/*list item inside a def/term*/

dl{
  margin-top: -1em;
}

ol dl{
  margin-top: -1.5em;
  margin-left: 0em;
}		/*term/def list inside a numbered list*/

ol dl dl{
  margin-top: 0em;
  margin-left: .2em;
}		/*term/def list inside a term/def list*/

dd{
  margin-bottom: 0em;	/*not currently working*/
  margin-left: 1.5em;
}

dt{
  padding-top: 2em;
  font-weight: bold;
  margin-left: 1.5em;
}

code{
  font-family: Courier;
  left: 10%;
  color: Navy;
}

pre{
  margin-top: 0em;
  margin-bottom: 1.5em;
  font-family: Courier;
}

table {
  font-size: 100%;
  text-align: left;
  margin-top: 1em;
  font-family:Verdana;
  padding : 0 0 0 0;
}

tr{
  margin: .50em;
  vertical-align: top;
}

th{
  text-align: left;
  margin: .50em;
  vertical-align: top;
  background: #dddddd;
}

td{
  margin: .50em;
  vertical-align: top;
}

/* Only use this for sidebars that ARE in a list */
DIV.sidebartext {
  position: relative;
  left: -22px;
  height: 72px;
  width: 300px;
  margin-top: .6em;
  margin-right: 3em;
  margin-left: 0;
  margin-bottom: .6em;
  padding-top: .75em;
  padding-right: 6px;
  padding-left: .75em;
  padding-bottom: .75em;
  cursor: hand;
  border-left: 4pt solid #339900;
  background-color: #F0F0F0; }

/* Only use this for sidebars that are NOT in a list */
DIV.sidebartbl {
  height: 72px;
  width: 300px;
  margin-top: .6em;
  margin-right: 3em;
  margin-left: 0;
  margin-bottom: .6em;
  padding-top: .75em;
  padding-right: 8em;
  padding-left: .75em;
  padding-bottom: .75em;
  cursor: hand;
  border-left: 4pt solid #339900;
  background-color: #F0F0F0; }

a:visited.sidebar: {
  color: #339900;
  text-decoration: none; }

a:hover.sidebar: {
  text-decoration: underline; }

.endlink {
  line-height: 6pt;
  position: relative;
  top: 1pt;
  background-color: transparent;
  font-weight: bold;
  font-size: 7pt;
  font-style: italic;
  color: black;
  text-decoration: none;
  cursor: hand;
  width: 20px;
  height: 8pt;
  padding-top: -2pt;
  padding-bottom: 1pt;
  margin: 0pt;
  border-bottom: 1pt solid #00cc33;
  border-top: 1pt solid #00cc33;
}

.pagehdrtable{
  width:102%;
  position:absolute;
  margin-left:0;
  margin-right:0;
  margin-top:0;  
  top:0;   
  left:0;
  padding : 0 0 0 0;
}
.pageheader{
  color:#F7AB1C;
  background-color:#730A08;
  font-family:verdana;
  font-size:13pt;
  font-weigth:bold;
  font-style:italic;
  line-height:13pt
}

.hrdbtbl{
  width:300px;
  left:10px;
  position:absolute;
}

.dbh4{
  font-size: 105%;
  color: #000000;
  margin-top: 1.2em;
  margin-bottom: .5em;
}
